<div class="ta-background">
	<div class="iconstuff">This is an icon</div>
	<main id="Login" class="panel panel-default">
		<form class="panel-body" name="LoginForm" ng-submit="login.submit()">
			<div class="form-group">
				<input type="text" placeholder="username" class="form-control" id="Username" ng-model="login.credentials.Username"/>
			</div>
			<div class="form-group">
				<input type="password" placeholder="password" class="form-control" id="Password" ng-model="login.credentials.Password"/>
			</div>
			<button type="submit" class="btn btn-primary btn-block" ng-disabled="LoginForm.$invalid">Submit</button>
			<a class="btn btn-link">Forgot Password?</a> <!--TODO: should this be functional in the Seed Project?-->
		</form>
	</main>
	<div class="blankstuff"></div>
</div>
